body {
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  background-attachment: fixed;
}

li {
  margin-bottom: 4px;
  list-style: none;
}

ul {
  padding-inline-start: 0px;
}

header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 500px;
}

#input-element {
  display: inline-block;
  height: 55px;
  padding: 0 20px;
  background: #fff;
  border: 0;
  font-size: 18px;
  color: #444;
  border-radius: 3px;
  outline: 0;
}

#search-user {
  display: inline-block;
  height: 55px;
  padding: 0 20px;
  margin-left: 10px;
  background: #434343;
  color: #fff;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  border-radius: 3px;
  outline: 0;
}

#search-user:hover {
  background: #2d2b2b;
  cursor: pointer;
}

.info-card {
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  width: 372px;
  margin-top: 30px;
  background: #3c3f41;
}

.status-info {
  background: #1d9bd5;
  width: 100%;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.name {
  font-weight: bold;
}

.git-image {
  width: 100px;
  border-radius: 50%;
}
.name,
.image,
.user {
  text-align: center;
}

.ul-info {
  display: flex;
  justify-content: space-around;
}
